.text {
    text-align:  center;
   }
   .text1 {
    text-align:  right;
   }
   h1 {
   font-size: 50px;
   font-style: italic;
   font-family: sans-serif;
   margin-top: 50px;
   margin-bottom: 50px;
   }
   h5 {
    font-size: 30px;
    font-style: normal;
    font-family: sans-serif;
    margin-bottom: 30px;
   }
   p {
    font-size: 20px;
    font-style: normal;
    font-family: sans-serif;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%
   }
