{% extends 'articles/../../../templates/common/../../../articles/templates/articles/base.html' %}
{% block title %} Login {% endblock %}
{% block body %}

<main class="form-line w-50 mx-auto text-center">
  <form method="post" action="{% url 'authandreg:login' %}">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Login in</h1>


    <div class="form-floating mb-2 mx-auto col-md-6">
      <input type="text" class="form-control" name="username" placeholder="Username">
      <label for="username">Username</label>
    </div>
    <div class="form-floating mb-3 mx-auto col-md-6">
      <input type="password" class="form-control" name="password" placeholder="Password">
      <label for="password">Password</label>
    </div>

    <div class="mb-3 mx-auto col-md-6">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
      	<input class="btn btn-success col-md-6 py-2" type="submit" value="Login">
  </form>
<div class="container signin">
    <p>You don't have an account? <a href="{% url 'authandreg:register' %}">Register</a></p>
  </div>
</main>
{% endblock %}