{% extends 'articles/base.html' %}

{% block title %}Home{% endblock %}
{% block head %}{% endblock %}
{% block body %}
        <div class="container2">
            <div class="article">
             <h2>Все статьи:</h2>
                <ul>
                    {% if articles %}
                        {% for article in articles %}
                            <p><a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a></p>
                        {% endfor %}
                    {% else %}
                        <h1>There are no articles</h1>
                    {% endif %}
                </ul>
        </div>
    </div>
{% endblock %}

